.button {
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 16px;
  outline: none;

  background-color: var(--accent-color);
  cursor: pointer;

  font-size: 18px;
  font-weight: 400;

  transition: 0.2s;

  &:hover {
    background-color: var(--accent-hover-color);
  }
}
