.FSModal__content {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  opacity: 0;
  visibility: hidden;

  z-index: 2;
  transition: 0.3s;

  & > a {
    width: 200px;
    border-radius: 8px;

    line-height: 30px;
    text-align: center;
    color: var(--neutral-color);

    &:hover {
      background-color: var(--accent-hover-color);
    }
  }
}

.FSModal__overlay.opened .FSModal__content {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.FSModal__overlay.hidden .FSModal__content {
  transform: translateY(-500px);
  visibility: hidden;
  opacity: 0;
}
