.movies__description {
  & h3 {
    width: 192px;
    height: 20px;
    font-size: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & p {
    width: 192px;
    height: 15px;

    font-size: 13px;
    text-align: center;
    color: var(--text-subtle-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
