:root {
  --primary-color: #fb8f67;
  --background-color: #f7f7f7;

  --neutral-color: #ffffff;
  --neutral-hover-color: #d7d7d7;

  --accent-color: #f65a2a;
  --accent-hover-color: #ffb393;

  --text-color: #2d2d2d;
  --text-subtle-color: #628395;

  --secondary-color: #fcbfa1;
  --secondary-hover-color: #ffdac1;

  --gradient-color: #ffffff00;

  // --idk-color: #a997df;
  // --secondary-color: #628395;

  --metascore-green: #00ce7a;
  --metascore-yellow: #ffbd3f;
  --metascore-red: #ff6874;
}

[data-theme='dark'] {
  --primary-color: #af9fff;

  --background-color: #000000;
  --text-color: #071013;
  --link-color: #fb8f67;
  --idk-color: #a997df;
  --tbd-color: #628395;

  // --primary-color: #ffffff;
  // --background-color: #fffff0;
  // --text-color: #071013;
  // --link-color: #fb8f67;
  // --link-hover-color: #ce7454;

  // --idk-color: #a997df;
  // --secondary-color: #628395;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto';
  text-decoration: none;
}

.app {
  background-color: var(--background-color);

  width: 100%;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--text-color);
}

h2 {
  font-weight: 400;
  font-size: 30px;
  color: var(--text-color);
}

h3 {
  font-weight: 400;
  font-size: 25px;
  color: var(--text-color);
  text-align: center;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  color: var(--text-color);
}

p {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
}

a {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 1200px;
  background-color: var(--neutral-color);
}

.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}
