:root {
  --primary-color: #fb8f67;
  --background-color: #f7f7f7;

  --neutral-color: #ffffff;
  --neutral-hover-color: #d7d7d7;

  --accent-color: #f65a2a;
  --accent-hover-color: #ffb393;

  --text-color: #2d2d2d;
  --text-subtle-color: #628395;

  --secondary-color: #fcbfa1;
  --secondary-hover-color: #ffdac1;

  --scrollbar-hover-color: #536f7e;
  --gradient-color: #ffffff00;

  --shadow-color: rgba(0, 0, 0, 0.3);

  --metascore-green: #00ce7a;
  --metascore-yellow: #ffbd3f;
  --metascore-red: #ff6874;
}

[data-theme='dark'] {
  // --primary-color: #af9fff;

  --primary-color: #af9fff;
  --background-color: #1f1f1f;

  --neutral-color: #2d2d2d;
  --neutral-hover-color: #3a3a3a;

  --accent-color: #af6eff;
  --accent-hover-color: #d3b6ff;

  --text-color: #f0f0f0;
  --text-subtle-color: #9a9a9a;

  --secondary-color: #7a62ff;
  --secondary-hover-color: #a58aff;

  --scrollbar-hover-color: #5e5e5e;
  --gradient-color: #00000000;

  --shadow-color: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto';
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--text-color);
}

h2 {
  font-weight: 400;
  font-size: 30px;
  color: var(--text-color);
}

h3 {
  font-weight: 400;
  font-size: 25px;
  color: var(--text-color);
  text-align: center;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  color: var(--text-color);
}

p {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
}

b {
  font-size: 28px;
  color: var(--text-color);
}

a {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  box-shadow: 0 4px 8px var(--shadow-color);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 1200px;
  background-color: var(--neutral-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-subtle-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
