.movie__container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.movie__poster {
  width: 300px;
  height: 445px;
}

.movie__plot {
  width: 800px;
}

.movie__info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie__about-block {
  display: flex;
  gap: 10px;
}

.movie__about-title {
  color: rgb(165, 165, 165);
  width: 160px;
}


.movie__imdb-block {
  display: flex;
  flex-direction: column;
}

.movie__metascore-block {
  display: flex;
  align-items:  center;
  gap: 10px;
}

.movie__metascore-block > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.movie__metascore-value-green {
  background-color: var(--metascore-green);
}

.movie__metascore-value-yellow {
  background-color: var(--metascore-yellow);
}
.movie__metascore-value-red {
  background-color: var(--metascore-red);
  color: white;
}
