.main {
  &__container {
    display: flex;
    flex-direction: column;

    margin-top: 32px;
    gap: 40px;

    @media (max-width: 1200px) {
      margin-top: 24px;
      gap: 30px;
    }

    @media (max-width: 768px) {
      margin-top: 16px;
      gap: 20px;
    }

    @media (max-width: 480px) {
      margin-top: 8px;
      gap: 10px;
    }
  }
}
