.person {
  &__header {
    display: flex;
    gap: 32px;
  }

  &__poster {
    height: 450px;
  }

  &__info {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & > h2 {
      margin-bottom: 16px;
    }

    & .movie__about-value-arr {
      width: 400px;
    }
  }

  &__en-name {
    margin-top: 8px;
    text-align: start;
    color: var(--text-subtle-color);
  }

  &__age {
    display: flex;
    align-items: center;
    gap: 8px;

    &-separator {
      position: relative;

      &::before {
        content: '';
        display: inline-block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 8px;
        height: 8px;

        border-radius: 50%;
        background-color: var(--text-subtle-color);
      }
    }
  }

  &__spouses-container > &__spouses {
    display: flex;
    gap: 8px;

    & > a::after {
      content: '';
    }
  }
}

.subtle-text {
  color: var(--text-subtle-color);
}
