.registration__container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;

  &__container {
    justify-content: center;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__line-between {
    width: 2px;
    height: 85%;

    border-radius: 1px;
    background-color: var(--neutral-hover-color);
  }

  &__right {
    width: 250px;

    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__unit {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    & a {
      display: inline-block;
      color: var(--accent-color);

      transition: 0.2s;

      &:hover {
        color: var(--primary-color);
        transform: translateY(-2px);
      }
    }
  }
}
