@font-face {
  font-family: 'montserrat';
  src: url(./montserrat/Montserrat-Light.ttf);

  font-weight: 300;
}

@font-face {
  font-family: 'montserrat';
  src: url(./montserrat/Montserrat-Regular.ttf);

  font-weight: 400;
}

@font-face {
  font-family: 'montserrat';
  src: url(./montserrat/Montserrat-SemiBold.ttf);

  font-weight: 600;
}

@font-face {
  font-family: 'montserrat';
  src: url(./montserrat/Montserrat-Bold.ttf);

  font-weight: 700;
}


