.back {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: self-start;
  gap: 8px;
  cursor: pointer;

  &__img {
    width: 24px;
    height: 24px;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30px;
      height: 30px;

      border-radius: 50%;
      background-color: var(--accent-color);

      opacity: 0.6;
      transition: 0.2s;

      @media (max-width: 480px) {
        width: 15px;
        height: 15px;
      }
    }

    @media (max-width: 480px) {
      width: 10px;
      height: 10px;
    }
  }

  & p {
    color: var(--accent-color);
    opacity: 0.6;
    transition: 0.2s;
  }

  &:hover {
    & p {
      opacity: 1;
    }

    .back__img-container {
      opacity: 1;
    }
  }

  @media (max-width: 480px) {
    gap: 4px;
  }
}
