.movie {
  &__rating {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__metascore {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    &-title {
      width: auto;
      color: var(--text-subtle-color);
    }

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
    }

    &-value {
      &-green {
        background-color: var(--metascore-green);
      }

      &-yellow {
        background-color: var(--metascore-yellow);
      }
      &-red {
        background-color: var(--metascore-red);
        color: var(--neutral);
      }
    }
  }

  &__imdb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &-rating {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &-img {
      width: 30px;
      height: 30px;
    }

    &-title {
      color: var(--text-subtle-color);
    }

    &-value {
      display: flex;
      gap: 3px;
      color: var(--text-subtle-color);

      & > span {
        font-weight: 700;
        font-size: 20px;
        color: var(--text-color);
      }
    }
  }
}
