.styledInput {
  width: 250px;
  height: 40px;
  padding: 8px 16px;
  outline: none;

  color: var(--text-color);
  font-size: 16px;

  background-color: transparent;
  border-radius: 12px;
  border: 1px solid var(--accent-hover-color);
  transition: 0.1s all ease;

  &::placeholder {
    visibility: hidden;
  }

  &:focus,
  &:not(:placeholder-shown) {
    border-color: var(--accent-color);

    & + label {
      transform: translate(5px, -20px);
      background-color: var(--neutral-color);
      font-size: 14px;
      color: var(--accent-color);
      opacity: 1;

      @media (max-width: 768px) {
        font-size: 10px;
        transform: translate(2px, -18px);
      }

      @media (max-width: 480px) {
        font-size: 5px;

        transform: translate(3px, -10px);
      }
    }
  }

  & + label {
    position: absolute;
    top: 9px;
    left: 5px;
    padding: 0 8px;
    opacity: 0.6;

    font-size: 18px;
    color: var(--text-subtle-color);

    pointer-events: none;
    transition: 0.1s all ease;

    @media (max-width: 768px) {
      top: 13px;
      left: 5px;

      padding: 0 3px;
      font-size: 11px;
    }

    @media (max-width: 480px) {
      top: 7px;
      left: 2px;

      font-size: 5px;
    }
  }

  @media (max-width: 768px) {
    width: 150px;
    padding: 8px 8px;
    font-size: 11px;
  }

  @media (max-width: 480px) {
    width: 70px;
    height: 20px;
    border-radius: 6px;
    padding: 4px 4px;
    font-size: 5px;
  }
}
