.main-movie {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    padding: 8px;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: translateY(-10px);
      background-color: var(--neutral-hover-color);
    }
  }

  &__poster {
    height: 200px;

    @media (max-width: 768px) {
      height: 120px;
    }

    @media (max-width: 480px) {
      height: 80px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__name {
    width: 120px;
    font-size: 16px;

    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 768px) {
      width: 120px;
      font-size: 15px;
    }

    @media (max-width: 480px) {
      width: 70px;
      font-size: 13px;
    }
  }

  &__description {
    width: 160px;
    height: 18px;

    font-size: 15px;

    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 768px) {
      width: 120px;
      font-size: 14px;
    }

    @media (max-width: 480px) {
      width: 70px;
      font-size: 12px;
    }
  }

  &__profession {
    width: 120px;
    font-size: 15px;
    text-align: center;
  }
}
