.arrow {
  position: absolute;
  top: 50%;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: pointer;

  opacity: 0;
  transition: 0.3s;
  z-index: 2;

  & img {
    width: 20px;
    height: 20px;

    @media (max-width: 768px) {
      width: 15px;
      height: 15px;
    }

    @media (max-width: 480px) {
      width: 5px;
      height: 5px;
    }
  }

  &__left {
    left: 20px;
  }

  &__right {
    right: 20px;
  }

  @media (max-width: 768px) {
    width: 25px;
    height: 25px;
  }

  @media (max-width: 480px) {
    width: 10px;
    height: 10px;
  }
}

#arrow {
  &:hover {
    opacity: 1;
  }

  &:disabled {
    visibility: hidden;
    opacity: 0;
  }
}
