.small-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  z-index: 5;

  &__item {
    min-width: 130px;

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &:hover {
      background-color: var(--secondary-hover-color);
    }

    & a {
      display: block;
      padding: 7px 0 7px 24px;

      @media (max-width: 768px) {
        padding: 5px 0 5px 10px;
      }

      @media (max-width: 480px) {
        padding: 3px 0 3px 1px;
        font-size: 5px;
      }
    }

    @media (max-width: 1200px) {
      min-width: 115px;
    }

    @media (max-width: 768px) {
      min-width: 80px;
    }

    @media (max-width: 480px) {
      min-width: 25px;
    }
  }
}
