.actor {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px 0;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: translateY(-10px);
    background-color: var(--neutral-hover-color);
  }

  &__photo {
    width: 100px;
    height: 150px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__name {
    width: 120px;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
  }

  &__description {
    width: 120px;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
  }

  &__profession {
    width: 120px;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
  }
}
