.actor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 8px;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: translateY(-10px);
    background-color: var(--neutral-hover-color);
  }

  &__photo {
    height: 200px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__name {
    width: 120px;
    font-size: 16px;
    text-align: center;
  }

  &__description {
    width: 120px;
    height: 18px;

    font-size: 15px;

    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-container {
      position: relative;
      
      width: 120px;
      height: 36px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__profession {
    width: 120px;
    font-size: 15px;
    text-align: center;
  }
}
