.movie__about {
  display: flex;
  align-items: center;
  gap: 10px;

  &-title {
    color: var(--text-subtle-color);
    width: 180px;
  }

  &-value{
    width: 250px;
  }

  &-value-arr {
    width: 250px;

    & > a {
      font-weight: 400;
      font-size: 20px;
      color: var(--text-color);
  
      &:hover {
        color: var(--accent-color);
      }
  
      &:not(:last-child)::after {
        color: var(--text-color);
        content: ', ';
      }
    }
  }
}

.mpaa {
  border: 1px black solid;
  padding: 4px;
  width: auto;
}
