.arrow {
  position: absolute;
  top: 45%;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;

  & img {
    width: 20px;
    height: 20px;
  }

  &__left {
    left: 20px;
  }

  &__right {
    right: 20px;
  }
}

#arrow {
  &:hover {
    opacity: 1;
  }

  &:disabled {
    visibility: hidden;
    opacity: 0;
  }
}
