.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding: 32px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 208px;
    height: fit-content;
    padding: 8px;

    cursor: pointer;

    &:hover {
      background-color: var(--neutral-hover-color);
    }

    & img {
      width: 144px;
      height: 216px;
    }

    & h3 {
      width: 192px;
      height: 20px;
      font-size: 16px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & p {
      width: 192px;
      height: 15px;

      font-size: 13px;
      text-align: center;
      color: var(--text-subtle-color);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__poster {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;

    & span {
      position: absolute;
      top: 4px;
      right: 28px;

      width: 32px;
      height: 29px;

      padding: 5px;
      border-radius: 5px;

      font-size: 16px;
    }
  }
}
