.radio {
  display: none;

  & + label {
    max-height: 40px;
    padding: 11px 16px;
    background-color: var(--secondary-color);
    border-radius: 8px;

    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-hover-color);
    }

    @media (max-width: 768px) {
      padding: 9px 11px;
    }

    @media (max-width: 480px) {
      padding: 7px 10px;
    }
  }

  &:checked {
    & + label {
      background-color: var(--accent-color);
    }
  }
}
